@font-face {
    font-family: "MenuGD";
    src: url("../font/CutiesCaps-R7RW.ttf")
}
.menuf {
    font-family: MenuGD;
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
    font-size: 168%;
    margin-left: 80px;
}
.menuf:hover {
    color: #F0E0C5;
}