@import "font.css";

#logo {
    width: 95px;
    margin-left: 10%;
}
.menu {
    background-color: #119955;
}
body {
    background-color: #F0E0C5;
}
#loginico {
    margin-top: -1%;
    width: 6%;
}

#main {
    background-color: #ffedd0;
    margin-left: 8%;
    width: 84%;
    height: 1000px;
}
.Titulo {
    margin-left: 22.5%;
    font-family: MenuGD;
    font-size: 6vw;
    letter-spacing: 0.5vw;
}